<html>
<head>Твой чеклист</head>
<body>

<div>
    <form action="@{/logout}" method="post">
        <input type="hidden" name="_csrf value={{_csrf.token}}">
        <input type="submit" value="Выйти"/>
    </form>
</div>
<div>
    <form method="post">
        <input type="text" name="name" placeholder="Название списка">
        <input type="text" name="element" placeholder="Элемент списка">
        <input type="text" name="comment" placeholder="Комментарий">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Ознакомься с чеклистами:</div>
<div>
    {{#checklists}}
        <div>
            <b>{{id}}</b>
            <i>{{name}}</i>
            <strong>{{authorName}}</strong>
        </div>
        <div>

        </div>
    {{/checklists}}
</div>
</body>
</html>