<html>
<head>Твой чеклист</head>
<body>

<div>
    <form action="@{/logout}" method="post">
        <input type="hidden" name="_csrf value={{_csrf.token}}">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post">
        <input type="text" name="creator" placeholder="Имя создателя">
        <input type="text" name="name" placeholder="Название списка">
        <input type="hidden" name="_csrf value={{_csrf.token}}">
        <button type="submit">Добавить</button>
    </form>
</div>

<div>
    {{#checklists}}
        <div>
            <b>{{id}}</b>
            <span>{{creator}}</span>
            <i>{{name}}</i>
        </div>
    {{/checklists}}
</div>
</body>
</html>